{% extends "base.html" %}
{% block btn_text %}
    Add new lend report
{% endblock btn_text %}
{% block content %}
    {% load static %}
    <h1>Lends report</h1>
    <div class="row">
        <div class="col-sm">
            <table id="myTable" class="table-hover">
                <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">User</th>
                        <th scope="col">Number of copies adquired</th>
                        <th scope="col">Maximum date to return the copies</th>
                        <th scope="col" class="text-center">Remove</th>
                        <th class="text-center">Edit</th>
                    </tr>
                </thead>
                <tbody >
                    {% for lend in object_list %}
                        <tr lend-id="{{ lend.rental_id }}">
                            <td>{{ lend.movie_id.name }}</td>
                            <td>{{ lend.user_id }}</td>
                            <td>{{ lend.copies }}</td>
                            <td>{{ lend.max_date }}</td>
                            <td class="text-center pointer remove_marker">
                                <i class="fas fa-times"></i>
                            </td>
                            <td class="text-center pointer edit_marker">
                                <i class="fas fa-edit"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript">
    $('#create-btn').click(() => {
        location.href = "{% url 'movies:lends_creation' %}"
    })
    </script>
    <script src="{% static 'js/extra_actions.js' %}"></script>
{% endblock js %}
