@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.pointer {
    cursor: pointer !important;
}

input[type="text"],
input[type="search"],
input[type="number"] {
    border-width: 0px 0px 2px 0px !important;
}

input[type="text"]:focus,
input[type="search"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border-color: dodgerblue;
    outline: none;
}

.btn-primary_ {
    background-color: dodgerblue;
    color: white;
    width: auto;
}

form>input[type="submit"] {
    padding: .5em !important;
}

#notification {
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 9999;
    border: 1px solid transparent;

}

.fa-times {
    color: red !important;
}

.errors {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
    color: red;
}