form {
    height: auto;
}

#id_tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#id_tags li {
    position: relative;
    display: inline;
    background-color: #ccc;
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em;

}

#id_tags li:hover {
    background-color: dodgerblue;
}

#id_max_date_year,
#id_max_date_month,
#id_max_date_day {
    margin-right: .5em;
}

select{
    border: 1px solid transparent;
}