form {
    height: auto;
}

/* form p{
    text-align: center;
} */

main div {
    width: 50%;
    margin: auto;
}

form input[type='text'],
form input[type='number'],
form select:not(#id_max_date_year, #id_max_date_month, #id_max_date_day) {
    width: 100%;
}

#id_max_date_year,
#id_max_date_month,
#id_max_date_day {
    margin-right: .5em;
}

select {
    border: 1px solid transparent;
}

.errors {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
    color: red;
}


form input:not(.primary_),
form select:not(#id_max_date_year, #id_max_date_month, #id_max_date_day) {
    padding: 1em;

    display: flex;

}